<div style="text-align: center;">
    <h2>"Hey Welcome to Emploo By Anurag"</h2>
        <a href="/allcomp" class="btn btn-info" style="text-align: center;height:auto;">See All Companies</a>
<img src="https://res.cloudinary.com/anuraggothi/image/upload/v1590850805/undraw_product_tour_foyt_t56wkh.svg">
</div>